$green: #007f00;  // bp green
$blue: #009ee0;   // bp blue (cyan really)
$orange: #ff9900; // bp yellow-orange
$violet: #660099; // bp purple
$pink: #ffe600;   // actually bp yellow

$ring0: #2690b7;
$ring1: #98907a;
$ring2: #c3da9c;
$ring3: #dce0d5;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);
