#functions{
  margin-left: 10px;
  margin-top: 5px;
}

#footer{
  text-align: center;
  clear: both;

  .footer-content {
    width: 80%;
    margin: 0 auto;

    p {
      padding-top: 10px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: left;
    }

  }
}
